.vite-builder-portal {
	position: absolute;
	left: 0;
	bottom: -260px;
	right: 0;
	background: #eee;
	width: auto;
	height: 260px;
	overflow: auto;
	transition: bottom 0.2s;
}

[data-header-builder="active"] {

	#customize-preview {
		bottom: 260px;
		height: auto;
	}

	.vite-builder-portal[data-builder="header"] {
		bottom: 0;
	}
}

[data-footer-builder="active"] {

	#customize-preview {
		bottom: 260px;
		height: auto;
	}

	.vite-builder-portal[data-builder="footer"] {
		bottom: 0;
	}
}

.vite-builder-rows {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;

	[data-col="center"] {
		border-left: thin dashed #ccc;
		border-right: thin dashed #ccc;
	}

	[data-col="right"] .vite-builder-area {
		justify-content: flex-end;
	}

	.vite-builder-cols {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		height: 100%;
		border: thin dashed #ccc;
		border-radius: 4px;

	}

	[data-col="center"] {
		min-width: 50px;
	}

	.vite-col,
	.vite-builder-area {
		display: flex;
		min-height: 30px;
	}
}

.vite-builder-portal-content-inner {
	.vite-builder-area {
		width: 100%;
		align-items: center;
		padding: 8px;
		gap: 5px;
		background-color: #fff;

		.vite-builder-component-placeholder {
			border-style: dashed;
			background-color: #eee;

			> * {
				opacity: 0;
			}
		}

		.vite-builder-component-inner {
			min-width: 65px;
			min-height: 28px;
			border: thin dashed #ccc;
			border-radius: 4px;
		}
	}

	.vite-builder-component {
		padding: 5px 10px;
		background-color: #fff;
		cursor: pointer;
		border-radius: 4px;
		border: thin solid #ccc;
		display: inline-flex;
		align-items: center;
		gap: 5px;

		&-title {
			white-space: nowrap;
		}
	}
}

.vite-builder-portal-content-inner[data-desktop="mobile"] {
	display: grid;
	grid-template-columns: 250px 1fr;

	.vite-builder-mobile-offset {
		padding: 20px 0 20px 20px;

		.vite-builder-area {
			width: 100%;
			height: 100%;
			border: thin dashed #ccc;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.vite-builder-component {
				width: 100%;
				box-sizing: border-box;
				justify-content: space-between;
			}

			.vite-builder-component-inner {
				width: 100%;
			}
		}
	}
}

.vite-builder-portal-header {
	padding: 0 20px;

	.components-button {
		border-bottom: 2px solid #ccc;
		color: #282828;
		font-weight: 500;
		opacity: .85;
		padding: 10px;
		box-shadow: none;

		&:focus {
			box-shadow: none;
		}

		&.active {
			border-bottom-color: var(--wp-admin-theme-color);
		}
	}
}

.vite-builder-row,
.vite-builder-mobile-offset-inner {
	position: relative;
	border-radius: 4px;

	.vite-builder-cta,
	.vite-builder-cta:focus {
		position: absolute;
		bottom: 100%;
		background-color: var(--wp-admin-theme-color);
		color: #fff;
		font-size: 12px;
		height: 30px;
		left: -1px;
		display: none;
		border-radius: 4px 4px 0 0;

		.dashicon {
			font-size: 12px;
			height: 12px;
			width: 12px;
		}
	}

	&:hover {
		outline: 1px solid var(--wp-admin-theme-color);
		border-radius: 0 4px 4px 4px;

		.vite-builder-cta {
			display: inline-flex;
		}

		.vite-builder-area,
		.vite-builder-cols {
			border-color: transparent !important;
		}
	}
}

.vite-builder-mobile-offset-inner .vite-builder-area {
	height: 185px !important;
	overflow-x: hidden;
	overflow-y: auto;
}

[data-builder="footer"] {

	@for $i from 1 through 6 {
		[data-cols="#{$i}"] {
			.vite-builder-cols {
				grid-template-columns: repeat(#{$i}, 1fr);
				gap: 1px;
			}
		}
	}

	.vite-col[data-hidden="false"] {
		display: none;
	}

	.vite-col {
		.vite-builder-area {
			justify-content: center;
		}

		&[data-col="1"]:not([data-pos="last"]) {
			.vite-builder-area {
				justify-content: flex-start;
			}
		}

		&[data-pos="last"]:not([data-col="1"]) {
			.vite-builder-area {
				justify-content: flex-end;
			}
		}
	}
}
