.vite-popup.vite-typography-popover {
	min-width: 330px;
	min-height: 340px;
	padding: 15px
}

.vite-typography-popover {

	.vite-device-selector .vite-devices .vite-device .dashicon {
		font-size: 14px;
		height: 14px;
		width: 14px;
	}

	.vite-units {
		.components-select-control__input {
			text-transform: uppercase;
			font-size: 11px !important;
		}
	}

	.vite-typography {
		display: grid;
		grid-gap: 15px;

		> div {
			display: grid;
			grid-template-columns: 150px auto;

			.vite-device-selector {
				justify-self: end;
			}
			> span,
			.vite-device-selector {
				margin-bottom: 5px;
			}

			> span {
				font-weight: 500;
			}

			.vite-range {
				grid-column: 1/-1;
			}
		}

		.vite-range {
			grid-template-columns: 1fr 60px;
		}
	}
}

.vite-select {
	.vite-select__control {
		border: 1px solid #ccc;
		border-radius: 2px;
		min-height: 30px;
		max-height: 30px;
	}

	.vite-select__indicators {
		> svg {
			margin-right: 8px;
			margin-left: 8px;
		}
	}

	.vite-select__option {
		padding: 5px 12px;

		&.vite-select__option--is-selected {
			background-color: var(--wp-admin-theme-color);
		}
	}

	.vite-select__input {
		min-height: 18px !important;
		max-height: 18px !important;
	}

	.vite-select__menu {
		z-index: 2;
		box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 10%), 0 4px 11px hsl(0deg 0% 0% / 10%);
	}
}
