.vite-button-set-control {
	.components-button-group {
		display: grid;

		@for $i from 1 through 6 {
			&.cols-#{$i} {
				grid-template-columns: repeat(#{$i}, 1fr);
			}
		}

		> .components-button {
			justify-content: center;

			&.is-primary {
				box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color)
			}
		}
	}
}
