{
	"presets": [
		["@babel/preset-env", {
			"modules": false,
			"targets": {
				"browsers": [
					"last 4 versions",
					"ie >= 11"
				]
			}
		}],
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-transform-runtime"
	]
}
