.customind-toggle-control {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.components-base-control__field {
		margin: 0;
	}

	.customize-control-title {
		margin-right: 5px;
		margin-bottom: 0;
	}
}
