.vite-toggle-control {
	grid-template-columns: repeat(2, auto);

	.vite-control-body {
		display: flex;
		justify-content: flex-end;
	}

	.components-form-toggle {
		margin-right: 0 !important;
	}
	.customize-control-description {
		grid-column: 1/-1;
	}
}
