.vite-color .components-popover__content {
	min-width: 300px;
	padding: 10px;

	.react-colorful,
	.components-color-picker,
	.react-colorful__hue,
	.react-colorful__alpha {
		width: 100%;
	}
}

.vite-color-control {
	.vite-control-body {
		display: flex;
		gap: 10px;
	}

	&[data-inline="true"] {
		grid-template-columns: auto 1fr;
		.vite-control-body {
			justify-content: flex-end;
		}
	}

	.customize-control-description {
		grid-column: 1/-1;
	}
}

