.customize-control-vite-tabs {
	&:after {
		content: none !important;
	}

	.vite-tabs-control {
		margin: -14px -14px 15px;
	}

	.vite-tabs {
		display: flex;

		> * {
			flex: 1;
			box-shadow: none;
			justify-content: center;
			background-color: #fff;
			height: 45px;
			border-radius: 0 !important;
			border-bottom: thin solid #ccc;

			&:focus {
				box-shadow: none;
				outline: none;
			}

			&.active {
				box-shadow: inset 0 4px var(--wp-admin-theme-color);
			}
		}
	}
}
[id="sub-accordion-section-vite[header-builder-layout]"] {
	.customize-control-vite-tabs .vite-tabs > *.active {
		box-shadow: inset 0 4px var(--wp-admin-theme-color);
	}
}
