.vite-divider-control {
	margin-left: -12px;
	margin-right: -12px;
	padding: 12px !important;
	background-color: #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;

	.customize-control-title {
		font-size: 12px;
		font-weight: 600;
	}
}
