.vite-range {
	.components-base-control__field {
		margin-bottom: 0;
	}

	display: grid;
	align-items: center;

	&:has(.vite-units) {
		grid-template-columns: 1fr 35px;
		grid-gap: 5px;
	}

	.components-range-control > .components-base-control__field {
		display: flex;
	}

	.components-range-control__mark-label {
		top: 20px;
	}
}
