:root {
	--font--family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font--size: 16px;
	--line--height: 1.5;
	--letter--spacing: 0;
	--font--weight: normal;
	--text--decoration: none;
	--text--transform: none;
	--full--width: 1200px;
	--narrow--width: 728px;
	--container--width: clamp(256px, 100%, var(--full--width));
	--container--narrow--width: clamp(256px, 100%, var(--narrow--width));
	--container--padding--inline: 1rem;
	--global--color--1: #2271b1;
	--global--color--2: #135e96;
	--global--color--3: #100c08;
	--global--color--4: #353f4a;
	--global--color--5: #e7ebfd;
	--global--color--6: #f2f5f7;
	--global--color--7: #eaf0f6;
	--global--color--8: #ffffff;
	--border--color: var(--global--color--5);
	--link--color: var(--global--color--3);
	--link--hover--color: var(--global--color--1);
	--link--active--color: var(--global--color--1);
	--button--color: var(--global--color--8);
	--button--hover--color: var(--button--color);
	--button--bg--color: var(--global--color--1);
	--button--hover--bg--color: var(--global--color--2);
	--button--padding: 10px 20px;
	--button--border--radius: 2px;
	--headings-color: var(--global--color--3);
	--text--color: var(--global--color--4);
	--accent--color: var(--global--color--1);
}

@import "common";
@import "container";
@import "elements";
