.vite-breadcrumbs-items {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	--link--color: var(--global--color--4);

	.vite-breadcrumbs-separator {
		margin-inline: 5px;
	}
}
