.comment-reply-link,
#cancel-comment-reply-link {
	font-size: 12px;
	--button--padding: 8px 15px;
}

.vite-comments {
	padding: var(--post--padding, 40px);
	background-color: var(--global--color--8);
	margin-top: 40px;

	&__title {
		margin-bottom: 0.5em;
	}

	&__list {
		margin: 0;
		padding: 0;

		&,
		&-children {
			list-style-type: none;

		}
	}
}

.vite-comment {
	padding-block: 1.2em;
	border-top: 1px solid #e1e8ed;

	&__header,
	&__footer {
		display: flex;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		gap: 10px;
	}

	&__header {
		margin-bottom: 1.25em;
		--link--color: var(--global--color--4);
	}

	&__meta {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: var(--global--color--4);

		.avatar {
			border-radius: 50%;
		}

		&-edit {
			color: var(--global--color--1);
		}
	}

	&__footer {
		justify-content: space-between;
	}

	&__content {
		margin-bottom: 20px;
	}
}

.vite-comment-respond {
	border-top: 1px solid var(--global--color--5);
	padding-top: 2em;

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.comment-form {
	.form-submit {
		margin-bottom: 0;
	}

	.submit {
		width: auto;
	}

	label {
		display: block;
	}

	#comment {
		width: 100%;
		min-height: 200px;
	}

	.comment-form-cookies-consent {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
