.comment-reply-link,
#cancel-comment-reply-link {
	--text-transform: uppercase;
	--button-padding: 8px 15px;
	--font-size: 12px;
	padding: var(--button-padding);
	border-radius: var(--button-border-radius);
	color: var(--button-color);
	background-color: var(--button-bg-color);
	font-size: var(--font-size);
	text-transform: var(--text-transform);
	display: inline-flex;
	height: 30px;
}

.vite-comment-respond__title {
	margin-bottom: 0.5em;
}

.vite-comments {
	padding: var(--post-padding, 40px);
	background-color: var(--color-7);
	margin-top: 40px;

	&__title {
		margin-bottom: 0.5em;
	}

	&__list {
		margin: 0;
		padding: 0;

		&,
		&-children {
			list-style-type: none;

		}
	}
}

.vite-comment {
	padding-block: 1.2em;
	border-top: 1px solid #e1e8ed;

	&__header,
	&__footer {
		display: flex;
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		gap: 10px;
	}

	&__header {
		margin-bottom: 1.25em;
		--link--color: var(--color-3);
	}

	&__meta {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: var(--color-2);

		.avatar {
			border-radius: 50%;
		}

		&-edit {
			color: var(--color-1);
		}
	}

	&__footer {
		justify-content: space-between;
	}

	&__content {
		margin-bottom: 20px;
	}
}

.vite-comment-respond {
	border-top: 1px solid var(--color-4);
	padding-top: 2em;

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.comment-form {
	--form-element-spacing-vertical: 0;
	margin-bottom: 0;

	.submit,
	.form-submit {
		margin-bottom: 0;
		width: auto;
	}

	label {
		display: block;
	}

	#comment {
		width: 100%;
		min-height: 200px;
	}

	.comment-form-cookies-consent {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}
