.vite-modal {
	position: fixed;
	top: var(--admin-bar-height, 0);
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background-color: var(--color-7);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: flex;
	flex-direction: column;

	&,
	&--open {
		transition-property: visibility, opacity;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;
	}

	&--open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;

		.vite-modal__content--slide-up {
			@include animation(modal-open-slide-up, 300ms, ease-in-out, 0s, 1, normal, both, running)
		}
	}

	&__action {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		right: 12px;
	}

	&__content {
		width: 100%;
		max-width: 70%;
		overflow: auto;
		flex: 1;
		display: grid;
		place-items: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 34px;

		.vite-search-form--modal {
			max-width: 100%;
			--font-size: calc(var(--font-size) * 0.5);
		}
	}

	&__btn {
		display: inline-grid;
		place-items: center;
		width: 50px;
		height: 50px;
		--button-bg-color: var(--color-7);
	}

	&--stt {
		top: auto;
		bottom: var(--buttom-offset, 30px);
		background-color: transparent;

		&--pos-right {
			left: auto;
			right: var(--edge-offset, 30px);
		}

		&--pos-left {
			left: var(--edge-offset, 30px);
			right: auto;
		}

		.vite-modal--stt__btn {
			height: 40px;
			width: 40px;
			padding: initial;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&--mobile-menu {
		&.vite-modal--open {
			.vite-modal__inner {
				transform: translateX(0);
				max-width: 100%;
			}
		}

		.vite-modal__inner {
			transform: translateX(100%);
			flex: 1;
			display: flex;
			flex-direction: column;
			padding: 1em;
			max-width: 90%;
			width: 100%;
			align-self: flex-end;
			transition: transform 200ms ease-in-out;
			overflow: auto hidden;
			background-color: var(--color-7);
		}

		.vite-modal__content {
			display: block !important;
			max-width: 100%;
		}

		.vite-element,
		.vite-nav {
			height: initial;
			display: initial;
		}
	}
}

@keyframes modal-open-slide-up {
	0% {
		opacity: 0;
		transform: translateY(50px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}
