.vite-modal {
	position: fixed;
	top: var(--admin--bar--height, 0);
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background-color: var(--global--color--8);
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	display: flex;
	flex-direction: column;

	&,
	&--open {
		transition-property: visibility, opacity;
		transition-duration: 300ms;
		transition-timing-function: ease-in-out;
	}

	&--open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;

		.vite-modal__content--slide-up {
			@include animation(modal--open--slide--up, 300ms, ease-in-out, 0s, 1, normal, both, running)
		}
	}

	&__action {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		right: 12px;
	}

	&__content {
		width: 100%;
		max-width: 80%;
		overflow: auto;
		flex: 1;
		display: grid;
		place-items: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 34px;
	}

	&__btn {
		display: inline-grid;
		place-items: center;
		width: 50px;
		height: 50px;
	}

	&--stt {
		top: auto;
		bottom: var(--stt--bottom--offset, 30px);
		background-color: transparent;

		&--pos-right {
			left: auto;
			right: var(--stt--edge--offset, 30px);
		}

		&--pos-left {
			left: var(--stt--edge--offset, 30px);
			right: auto;
		}

		button {
			height: 40px;
			width: 40px;
			padding: initial;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@keyframes modal--open--slide--up {
	0% {
		opacity: 0;
		transform: translateY(50px)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}
