.vite-pagination {
	margin-top: 4rem;

	&__link {
		min-width: 40px;
		min-height: 40px;
		display: inline-grid;
		place-items: center;
		border-radius: var(--button--border--radius);
		margin-right: 10px;

		&:hover,
		&--current {
			background-color: var(--button--bg--color);
			color: var(--button--color);
		}

		&--next {
			margin-right: 0;
		}
	}
}
