.vite-search {
	display: flex;
	align-items: center;
	gap: 5px;

	&-form {
		display: flex;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;

		:where(input, label) {
			--spacing: 0;
			flex: 1;
		}

		&--modal {
			border-bottom: 2px solid;
			max-width: 70%;

			:where(input) {
				font-size: calc(var(--font-size, 16px) * 2);
				width: 100%;
				background: transparent;
				transition: all .4s ease-out;
				border-width: 0;
				outline: none;
				--form-element-spacing-horizontal: 0;

				&::-ms-clear,
				&::-ms-reveal {
					display: none;
					width: 0;
					height: 0;
				}

				&::-webkit-search-decoration,
				&::-webkit-search-cancel-button,
				&::-webkit-search-results-button,
				&::-webkit-search-results-decoration {
					display: none;
				}
			}
			.vite-search-form__submit {
				--button-padding: 0;
				--button-bg-color: transparent;
				--button-hover-bg-color: transparent;
				--button-color: var(--color-2);
				--button-hover-color: var(--color-2);
			}
		}
	}

	&__label {
		display: none;

		&--pos-right {
			order: 2;
		}

		&[class*="desktop"] {
			@media (min-width: 1024px) {
				display: inline-flex;
			}
		}

		&[class*="tablet"] {
			@media (max-width: 1023px) and (min-width: 767px) {
				display: inline-flex;
			}
		}

		&[class*="mobile"] {
			@media (max-width: 768px) {
				display: inline-flex;
			}
		}
	}
}
