.vite-social {
	display: flex;
	height: inherit;

	&__list {
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		--spacing: 0;
		--typography-spacing-vertical: 0;
	}

	&__item {
		display: flex;
		align-items: center;
	}

	&__link {
		display: inline-flex;
		padding: 5px;

		span {
			display: inline-flex;
		}
	}
}
