.vite-radio-image-control {
	.vite-control-body {
		display: grid;
		grid-template-columns: repeat( var( --vite-col, 1 ), 1fr );
		grid-gap: 20px;
	}

	.vite-radio-image {
		padding: 10px 10px 0 10px;
		background-color: #ebebeb;
		cursor: pointer;

		&.active {
			background-color: #0073aa;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}
