.vite-sortable-control {
	li {
		display: flex;
		align-items: center;
		padding: 5px 10px;
		color: #50575e;
		border: 1px solid #8c8f94;
		min-height: 25px;

		span:not(.dashicon) {
			flex: 1;
		}

		> svg {
			height: 20px;
			width: 20px;
		}

		.components-button {
			padding: 0;
			max-height: 20px;
			min-width: unset;
			margin-right: 10px;

			.dashicon {
				font-size: 14px;
				height: 14px;
				width: 14px;
			}
		}

		&.vite-sortable-item {
			cursor: move;
			background-color: #fff;

			&[data-sort-disabled="true"] {
				cursor: initial;
			}
		}
	}
}

.vite-sortable-fallback {
	opacity: 1 !important;
}
