.vite-sortable-control {

	.vite-sortable-item {
		background-color: #fff;
		cursor: move;

		&[data-sort-disabled="true"] {
			cursor: initial;
		}
	}

	.vite-sortable-item-inner {
		padding: 10px;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #8c8f94;
	}

	.vite-sortable-item-actions {
		display: flex;
		align-items: center;
		color: #50575e;
		border: 1px solid #8c8f94;
		min-height: 35px;

		> div {
			align-self: stretch;
			display: flex;
			align-items: center;
			min-width: 35px;

			&:not(.vite-label) {
				justify-content: center;
				cursor: pointer;
			}
		}

		.vite-label {
			flex: 1;
		}
	}
}

.vite-sortable-fallback {
	opacity: 1 !important;
}
