.site-content {
	padding-block: 4rem;
}

.vite-posts {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 2em;

	.vite-post {
		&.vite-has-post-thumbnail {
			padding-top: 0;
		}

		.entry-thumbnail {
			margin-inline: -15px;

			img {
				width: 100%;
			}
		}

		.post-wrap {
			display: flex;
			flex-direction: column;
			gap: 10px;

			h2, p {
				margin: 0;
			}
		}
	}
}
