.site-content {
	padding-block: 4rem;
}

.vite-posts {
	--grid--gap: 2em;
	--grid--columns: 3;
	--grid--min--size: calc(calc(var(--full--width) / var(--grid--columns)) - calc(var(--grid--gap) * calc(var(--grid--columns) - 1)));
	display: grid;
	grid-gap: var(--grid--gap);
	grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--grid--min--size)), 1fr));

	.vite-post {
		--post--padding: 20px;

		&.vite-has-post-thumbnail {

			&[data-first-element="featured-image"] {
				padding-top: 0;
			}

			&[data-last-element="featured-image"] {
				padding-bottom: 0;
			}
		}

		.entry-thumbnail {
			margin-inline: -20px;
		}

		.post-wrap {
			display: flex;
			flex-direction: column;
			gap: 10px;

			h2, p {
				margin: 0;
			}
		}
	}
}
