.site-content {
	padding-block: 4rem;
}

.vite-posts {
	--gutter: 2em;
	--columns--3: 3;

	&--grid {
		display: flex;
		flex-wrap: wrap;
		margin-left: calc(-1 * var(--gutter));

		.vite-post {
			margin-left: var(--gutter);
		}
	}

	@for $i from 1 through 4 {
		&--col-#{$i} {
			.vite-post {
				width: calc( calc(100% / #{$i}) - var(--gutter) );
			}

			@include media-query('tablet') {
				@if($i > 1) {
					.vite-post {
						width: calc( calc(100% / #{$i - 1}) - var(--gutter) );
					}
				}
			}
		}
	}

	@include media-query('mobile') {
		&[class*="--col"] .vite-post {
			width: calc(100% - var(--gutter));
		}
	}

	.vite-post {
		--post--padding: 20px;
		margin-bottom: var(--gutter);

		&--thumbnail-first {
			padding-top: 0;
		}

		&--thumbnail-last {
			padding-bottom: 0;
		}

		&__thumbnail {
			margin-left: calc(var(--post--padding) * -1);
			margin-right: calc(var(--post--padding) * -1);
		}

		&__inner {
			display: flex;
			flex-direction: column;
			gap: 10px;

			h2, p {
				margin: 0;
			}
		}
	}
}
