.site-content {
	padding-block: 4rem;
}

.site-main:has(>.post) {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-gap: 2em;

	> .post {
		padding: 0 15px 15px;
		border: 1px solid var(--border--color);
		border-radius: 2px;

		a {
			text-decoration: none;
			color: var(--base--color);

			&[class*="cta"] {
				text-decoration: underline;
			}

			&:hover,
			&:focus,
			&:active {
				color: var(--primary--color);
			}
		}

		.entry-thumbnail {
			margin-inline: -15px;
			img {
				width: 100%;
			} }

		.post-wrap {
			display: flex;
			flex-direction: column;
			gap: 10px;

			h2, p {
				margin: 0;
			}
		}
	}
}
