.vite-site {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--admin--bar--height, 0px));
}

.vite-content {
	flex: 1;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.vite-post {
	padding: var(--post--padding, 40px);
	border-radius: 2px;
	background-color: var(--global--color--8);
}

.single {
	.entry-header,
	.entry-thumbnail {
		margin-bottom: 2em;
	}
}

.error-404 {
	.search-form {
		display: flex;

		> label {
			flex: 1;
		}
	}
}

$aspect_ratios: (1:1, 3:2, 4:3, 16:9);

.vite-post {
	&__title {
		margin-bottom: 0.5em;
	}

	&__meta,
	&__btn {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		--link--color: var(--global--color--4);
	}

	&__meta__separator {
		margin-inline: 5px;
	}

	&__btn {
		gap: 5px;
		text-decoration: underline;
		align-self: flex-start;
	}

	&__icon {
		display: inline-flex;
	}

	&__meta > div {
		display: flex;
		align-items: center;
		gap: 4px;

		> a {
			display: inline-flex;
		}
	}

	&__thumbnail-inner {
		position: relative;

		@each $w, $h in $aspect_ratios {
			&--#{$w}x#{$h} {
				padding-top: calc(#{$h} / #{$w} * 100%);
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
}

.page-content,
.comment-content,
.vite-post__content {
	--link--color: var(--global--color--1);
	--link--hover--color: var(--global--color--2);
	--link--text--decoration: underline;

	> :last-child {
		margin-bottom: 0;
	}
}

.vite-navigation {
	margin-top: 40px;
	display: flex;

	&__link {
		flex: 1;
		display: inline-flex;
		align-items: center;
		gap: 5px;
		text-decoration: underline;

		&--next {
			justify-content: flex-end;
		}
	}
}
