* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
		background-repeat: no-repeat;
	}
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

:where(:root) {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: var(--background-color);
	color: var(--color);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-family: var(--font-family);
	text-rendering: optimizeLegibility;
	overflow-wrap: break-word;
	cursor: default;
	tab-size: 4;
	scroll-behavior: smooth;
}
