.page-header-wrap {
	margin-block-start: 4rem;
	ul {
		list-style-type: none;
		display: flex;
		margin: 0;
		padding: 0;
		gap: 0.5em;
	}

	h1 {
		margin: 0;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	a {
		text-decoration: none;
		color: var(--base--color);

		&:hover,
		&:focus,
		&:active {
			color: var(--primary--color);
		}
	}
}
