.vite-color-picker {
	.component-color-indicator {
		height: 24px;
		width: 24px;
		margin-right: 5px;
	}

	> .components-button {
		background-color: #ebebeb;
		border: 1px solid #ebebeb;
	}
}


.vite-popover {
	.components-popover__content {
		width: 280px;
		padding: 10px;

		.components-color-picker,
		.react-colorful,
		.react-colorful__hue,
		.react-colorful__alpha {
			width: 100%;
		}
	}
}
