.vite-color-picker {
	.component-color-indicator {
		height: 24px;
		width: 24px;
		margin-right: 5px;
	}

	> .components-button {
		background-color: #ebebeb;
		border: 1px solid #ebebeb;
	}
}

.vite-popup.vite-color-picker-popup {

	.components-color-picker,
	.react-colorful,
	.react-colorful__hue,
	.react-colorful__alpha {
		width: 100%;
	}

	.components-custom-gradient-picker__gradient-bar {
		width: calc(100% - 16px);
	}

	.components-popover__content {
		min-width: 280px;
		box-shadow: 0 0 0 1px hsl(0deg 0% 0% / 10%), 0 4px 11px hsl(0deg 0% 0% / 10%);
		padding: 10px;
	}
}

.vite-color-picker-palette {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.vite-color-picker-palette {
	.components-circular-option-picker__option-wrapper {
		height: 24px;
		width: 24px;
		.components-circular-option-picker__option {
			> span {
				display: none;
			}
			&:focus {
				box-shadow: none;
				outline: none;

				&:after {
					content: none;
				}
			}

			&.is-pressed + svg {
				left: 0;
				top: 0;
			}
		}
	}
}

.vite-reset {
	min-width: 12px ! important;
	width: 12px ! important;
	height: 12px ! important;
	.dashicon {
		font-size: 12px;
		height: 12px;
		width: 12px;
	}
}
