.vite-gradient-control {
	grid-template-columns: auto auto;

	.vite-control-body {

		.components-custom-gradient-picker__gradient-bar {
			width: calc(100% - 16px);
		}
	}

	.vite-control-body,
	.customize-control-description {
		grid-column: 1/-1;
	}
}
