.vite-group-control {
	&,
	> .vite-control-head {
		display: block !important;
	}

	> .vite-control-head {
		margin-left: -12px;
		margin-right: -12px;
		width: unset;

		.components-button {
			width: 100%;
			background-color: #fff;
			box-shadow: none !important;
			outline: 0 !important;
			height: 45px;
			justify-content: space-between;
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}
